# Data Types - Text Type

In [1]:
single_quote_str = 'Hello, World!'
double_quote_str = "Python Programming"
triple_quote_str = '''Triple quotes can be used
for multi-line strings.'''

s = "python world"
print(s.title())  
print(s.upper())  
print(s.replace("w", "W"))

Python World
PYTHON WORLD
python World

# Data Types - Numeric Types (int, float)

In [3]:
x=5
y=x*10+5
print(y)

x=0.5
y=x*2+3
print(y)

55
4.0

# Data Types - Sequence Types list

In [7]:
fruits = ["apple", "banana", "cherry"]

# Adding elements
fruits.append('orange')  # Adds 'orange' to the end
fruits.insert(1, 'mango')  # Inserts 'mango' at index 1

# Removing elements
fruits.remove('banana')  # Removes the first occurrence of 'banana'
popped_fruit = fruits.pop(2)  # Removes and returns the element at index 2 ('cherry')

# Changing elements
fruits[0] = 'kiwi'  # Changes the element at index 0 to 'kiwi'

# Accessing elements
print(fruits[1])  # Prints 'mango', the element at index 1

# Length of the list
print(len(fruits))  # Prints the number of elements in the list

# Combining lists
other_fruits = ['grape', 'pear']
combined_fruits = fruits + other_fruits  # Combines both lists

# Sorting the list
combined_fruits.sort()  # Sorts the list in place
print(combined_fruits)

# Reversing the list
combined_fruits.reverse()  # Reverses the list in place
print(combined_fruits)

mango
3
['grape', 'kiwi', 'mango', 'orange', 'pear']
['pear', 'orange', 'mango', 'kiwi', 'grape']

# Data Types - Sequence Types tuple

In [8]:
# Define a point in 3D space
point_3D = (6, 10, 20)

# Accessing elements
print("X-coordinate:", point_3D[0])
print("Y-coordinate:", point_3D[1])
print("Z-coordinate:", point_3D[2])

# Attempting to change an element (this will raise an error)
try:
    point_3D[0] = 10
except TypeError as e:
    print("Error:", e)

X-coordinate: 6
Y-coordinate: 10
Z-coordinate: 20
Error: 'tuple' object does not support item assignment

# Data Types - Mapping Type

In [9]:
credit_card_info = {
    "cardholder_name": "John Doe",
    "card_number": "1234 5178 9012 3456",
    "expiration_date": "05/25",
    "cvv": "623"
}

# Accessing elements
print("Cardholder Name:", credit_card_info["cardholder_name"])
print("Card Number:", credit_card_info["card_number"])

# Modifying elements
credit_card_info["expiration_date"] = "06/26"

# Adding new key-value pair
credit_card_info["billing_address"] = "12 Main rd, Bentleigh, 3204"

# Output the updated dictionary
print("Updated Credit Card Information:", credit_card_info)

Cardholder Name: John Doe
Card Number: 1234 5178 9012 3456
Updated Credit Card Information: {'cardholder_name': 'John Doe', 'card_number': '1234 5178 9012 3456', 'expiration_date': '06/26', 'cvv': '623', 'billing_address': '12 Main rd, Bentleigh, 3204'}

# Data Types - Set Types set

In [10]:
# Creating set1
set1 = {1, 2, 3, 4, 5}

# Adding an element to set1
set1.add(6)  # set1 is now {1, 2, 3, 4, 5, 6}

# Adding multiple elements to set1
set1.update([7, 8, 9])  

# Removing an element from set1
set1.remove(1) 

# Popping a random element from set1 (sets are unordered)
popped_element = set1.pop() 
print(f"Popped element: {popped_element}")

# Checking if an element is in set1
if 5 in set1:
    print("5 is in set1")

Popped element: 2
5 is in set1

In [11]:
# Creating set2
set2 = {5, 10, 15, 20}

# Union of set1 and set2 (elements in either set)
union_set = set1.union(set2)
print("Union:", union_set)

# Intersection of set1 and set2 (elements common to both sets)
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

# Difference of set1 and set2 (elements in set1 but not in set2)
difference_set = set1.difference(set2)
print("Difference:", difference_set)

# Symmetric difference of set1 and set2 (elements in either set, but not in both)
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference_set)

Union: {3, 4, 5, 6, 7, 8, 9, 10, 15, 20}
Intersection: {5}
Difference: {3, 4, 6, 7, 8, 9}
Symmetric Difference: {3, 4, 6, 7, 8, 9, 10, 15, 20}

# Data Types - Set Types frozenset

In [12]:
# Mutable set
sample_set = {1, 2, 3}

# Immutable frozenset
immutable_sample = frozenset([1, 2, 3])

# Adding an element to the set
sample_set.add(4)  # Works fine
print("Set after adding an element:", sample_set)

# this will raise an AttributeError
try:
    immutable_sample.add(4)
except AttributeError as e:
    print("Error:", e)

Set after adding an element: {1, 2, 3, 4}
Error: 'frozenset' object has no attribute 'add'

# Data Types - Boolean Type

In [13]:
# Checking if a number is positive
is_positive = 20 > 0
print(is_positive)  

# Comparing two values
is_equal = (8 == 10)
print(is_equal)

True
False

# Data Types - None Type

In [14]:
# Initially, the user's email is unknown
user_email = None

# Check if the user's email is known
if user_email is None:
    print("User's email is not set.")
else:
    print(f"User's email is {user_email}.")

# Later in the program, the user provides their email address
user_email = "user@example.com"

# Check again if the user's email is known
if user_email is None:
    print("User's email is not set.")
else:
    print(f"User's email is {user_email}.")

User's email is not set.
User's email is user@example.com.